 @import "tailwindcss";

@theme {
  --color-primary: #2e2e2e;
  --color-secondary: #3c5b60;
  --color-tertiary: #454545;

  --color-text-primary: #fff8e0;
}

.clipPath {
  clip-path: circle(50%);
}
 

